<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dmitriyoschepkov.socialplant">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_local_florist_teal_600_48dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".add"
            android:label="@string/title_activity_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
        android:name=".add_type"
        android:label="@string/title_activity_add_type"
        android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".add_profile"
            android:label="@string/title_activity_add_profile" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"
            android:label=".MyService"
            android:process=":myservice" />

        <receiver
            android:name=".Receiver"
            android:exported="false">
            <intent-filter>
                <action android:name="someAction" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".edit"
            android:label="@string/title_activity_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".all_type" />

    </application>

</manifest>